:root {
    --cor-1: rgb(31, 73, 125);
    --cor-2: rgb(248, 127, 8);
}

/*btn*/
.btn-primary {
    color: #fff;
    background-color: var(--cor-1);
}

.btn-primary:hover {
    background-color: var(--cor-2);
}

/*bg*/
.bg-primary {
    background-color: var(--cor-1) !important;
    color: white;
}
.btn-outline-primary {
    border-color: var(--cor-1) !important;
    color: var(--cor-1);
}
.btn-outline-primary.active {
    background-color: var(--cor-1) !important;
    color: var(--cor-1);
}

.bg-secundary {
    background-color: var(--cor-2) !important;
    color: white;
}

.text-primary {
    background-color: var(--cor-1) !important;
    color: white;
}

.text-secundary {
    color: var(--cor-2);
}

.navmenu-active {
    color: var(--cor-2);
}
/*cor dp arrow menu lateral*/
.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
    color: #ffffff;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]:after {
    color: #fff;
}
/*cor dp arrow menu lateral - fim*/

/*margen esquerda campo conteudo*/
@media (min-width: 1200px) {
    .sidenav.fixed-start+.main-content {
        margin-left: 15.7rem;
    }
}
/*margen esquerda campo conteudo - fim*/
